*, *:before, *:after {
  box-sizing: border-box;
}

body, input {
    font-family: 'Inconsolata', monospace;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
}

h2 {
    margin-top: 1.5em;
    text-decoration: underline;
}

.wrapper {
    text-align: center;
}

.root {
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    display: inline-block;
}

@media screen and (min-width: 900px) {
    .app {
        width: 50%;
    }
}

.app input {
    width: 87%;
}

.app input, .app .btn {
    border: 1px solid black;
    font-size: 14px;
    padding: 10px 2px;
}

.app .btn {
    cursor: pointer;
    background-color: white;
    margin-left: 1%;
    width: 12%;
    display: block;
    float: right;
    text-align: center;
}

.app .btn:hover {
    filter: invert(100%);
}


*:focus {
    outline: none;
}
